.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  width: 55%;
  min-width: 450px;
  max-width: 800px;
  height: auto;
  min-height: 70%;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  overflow: visible; // visibility for the date picker pop-up
  position: relative;
  margin-bottom: 60px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;

  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  border-radius: 50%;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: #f8f4f4;
}

.close-button:before {
  content: '\2715';
  font-size: 1.5rem;
  color: #333;
}

.project-modal{
  width: 90%;

  h1{
    font-size: 1.4rem;
    margin-bottom: 1px;
  }

  h3{
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 600;
  }
}

.project-form-item{
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: top; /* Center vertically */
  gap: 10px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

  label {
    font-weight: 600;
    text-align: left;
  }

  input,
  select,
  textarea {
    width: 100%;
    padding: 6px 10px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #eaeaea;
    background-color: rgb(250, 251, 255);
  }

}

.team-list {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    position: relative;
    padding-left: 1.2rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0.4rem;
      width: 0.7rem;
      height: 0.7rem;
      background-color: gray;
      border-radius: 50%;
    }
  }
}

.project-form-section {
  margin: 20px 0;
  padding: 12px;
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
}

.project-form-item-with-new-line{
  display: block;
  align-items: top; /* Center vertically */
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

}

.project-form-item,
.project-form-item-with-new-line{

  .employee-item {
    display: flex;
    align-items: center;  
    margin-bottom: 10px;

    .employee-image {
      width: 30px;
      height: 30px;
      border-radius: 50%;  // round
      border: 2px solid white;
      margin-right: 10px;
    }

    .employee-name {
      margin: 0;
      font-size: 0.8em;
      color: gray;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  label{
    font-weight: 600;
  }
}

.project-form-item label {
  flex: 0 0 30%;  /* 1/3 of the width */
  text-align: left;
}

.project-form-item-with-new-line label {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 50px;
}

.project-form-item input,
.project-form-item select,
.project-form-item textarea,
.project-form-item .custom-select,
.project-form-item .datepicker-input{
  min-height: 1.95rem;
  font-size: 1rem;
  flex: 1 0 70%;
  background-color: rgb(250, 251, 255);
  border-radius: 6px;
  border: 1px solid rgb(234, 232, 232);

  .datepicker-input{
    width: 100% !important;
    margin: 0px !important;
  }
}

.input-with-button {
  display: flex;
  flex-direction: column;

  select {
    all: unset;
    margin-bottom: 8px;
    height: 36px;
    box-sizing: border-box;
    padding: 6px 10px;

    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #eaeaea;
    background-color: rgb(250, 251, 255);
    margin: 0;
  }

  .confirm-button {
    align-self: flex-start;
    width: 60px;
    padding: 6px 12px;
    font-size: 0.9rem;
    background-color: rgb(38, 131, 213);
  }

  button:hover {
    background-color: rgb(36, 119, 192);
    font-size: 1rem;
  }
}

.project-form-submit-buttons{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
  margin-top: 30px;

  button {
    width: 80px;
    height: 2.3rem;
    padding: 0.25rem;
    margin-top: 15px;
    margin-left: 15px;
  
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: white;
    background-color: rgb(38, 131, 213);
    
    border: none;
    border-radius: 4px;
  
    cursor: pointer;
  
  }
  
  button:hover {
    background-color: rgb(36, 119, 192);
    font-size: 1.1rem;
  }
}

.new-line-list-items{
  margin: 0px;
  display: block;
}

.react-datepicker-popper {
  z-index: 9999;
}


